<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include "includes/uikit.html" %}
    {% include "includes/styles.html" %}
    {% include "includes/script-top.html" %}
</head>
<body>
    {% include "widgets/menu.html" %}
    {% block content %}
        <h1> Content goes here </h1>
    {% endblock %}


    {% include "includes/footer.html" %}

</body>
</html>